@inherits LayoutComponentBase

<PageTitle>Kamigo.WebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="top-row px-4">
                        <a class="btn btn-danger" href="https://docs.microsoft.com/aspnet/" target="_blank">Se déconnecter</a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="top-row px-4">
                        <a class="btn btn-primary" href="https://docs.microsoft.com/aspnet/" target="_blank">Se connecter</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
