@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<App> Localizer;

<AuthorizeView>
    <Authorized>
        <a href="Account/Password">@context.User.Identity?.Name</a>
        <a href="Account/Logout">@Localizer["logout_button"]</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Register">@Localizer["register_button"]</a>
        <a href="Account/Login">@Localizer["login_button"]</a>
    </NotAuthorized>
</AuthorizeView>
