@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<App> Localizer;

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity?.Name</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">@Localizer["logout_button"]</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">@Localizer["register_button"]</a>
        <a href="Identity/Account/Login">@Localizer["login_button"]</a>
    </NotAuthorized>
</AuthorizeView>
