@using Kamigo.Data.Models;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<App> Localizer;

<div class="card gx-3 pokedex-entry-card">
    <img class="card-pokemon-dex-entry-img-top" src=/Sprites/Gen1/@PokedexEntry.SpriteLocalUrl>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted text-center">@PokedexEntry.Id</h6>
        <h5 class="card-title">@Localizer[@PokedexEntry.Name]</h5>
        <p class="card-text pokedex-entry-card-description-text">@Localizer[@PokedexEntry.Description]</p>
    </div>
</div>

@code {
    [Parameter]
    public PokedexEntry PokedexEntry { get; set; }
}
