@page "/"

<PageTitle>Mes jeux</PageTitle>

<h1>Liste de vos jeux</h1>

<div class="container">
    <div class="row justify-content-around">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.pokepedia.fr/images/thumb/8/8b/Pok%C3%A9mon_Rouge_Recto.png/604px-Pok%C3%A9mon_Rouge_Recto.png?20180629110042" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pokémon Rouge</h5>
                <p class="card-text">Pokémon Rouge fait partie de la première génération de jeux Pokémon sortie en 1996 au Japon.</p>
                <a href="#" class="btn btn-primary">Mon Pokédex</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.pokepedia.fr/images/thumb/0/05/Pok%C3%A9mon_Bleu_Recto.png/604px-Pok%C3%A9mon_Bleu_Recto.png?20180629112656" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pokémon Bleu</h5>
                <p class="card-text">Pokémon Bleu fait partie de la première génération de jeux Pokémon sortie en 1996 au Japon.</p>
                <a href="#" class="btn btn-primary">Mon Pokédex</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.pokepedia.fr/images/thumb/b/b6/Pok%C3%A9mon_Jaune_Recto.png/608px-Pok%C3%A9mon_Jaune_Recto.png?20090217223151" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pokémon Jaune</h5>
                <p class="card-text">Pokémon Jaune fait partie de la première génération de jeux Pokémon sortie en 1996 au Japon.</p>
                <a href="#" class="btn btn-primary">Mon Pokédex</a>
            </div>
        </div>
    </div>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />
