@page "/pokedex/{gameId}"
@using Microsoft.Extensions.Localization;
@using Kamigo.Data.Models;
@inject IStringLocalizer<App> Localizer;


<PageTitle>@Localizer["pokedex_label"]</PageTitle>

<p>@Localizer["current-pokedex-landing_label"] @CurrentPokemonGame.Generation</p>

@code{

    [Parameter]
    public string gameId { get; set; }

    public PokemonGame CurrentPokemonGame { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        CurrentPokemonGame = PokemonGamesList.Games.FirstOrDefault(g => g.Id == int.Parse(gameId));
    }
}
