@page "/pokedex/{gameId}"
@using Kamigo.Data.Models.PokedexEntries.Gen1;
@using Microsoft.Extensions.Localization;
@using Kamigo.Data.Models;
@inject IStringLocalizer<App> Localizer;

<div class="container-fluid">
    <div class="row">
        @foreach (var pokedexEntry in PokedexEntries)
        {
            <PokedexEntryCard PokedexEntry="@pokedexEntry"/>
        }
    </div>
</div>

@code{

    [Parameter]
    public string gameId { get; set; }

    public PokemonGame CurrentPokemonGame { get; set; }
    public List<PokedexEntry> PokedexEntries { get; set; } = new List<PokedexEntry>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        CurrentPokemonGame = PokemonGamesList.Games.FirstOrDefault(g => g.Id == int.Parse(gameId));
        var gen = new Gen1PokedexProvider();
        PokedexEntries = await gen.GetPokedexEntriesAsync();
    }
}
