@page "/{PlayerId}/pokedex/generation/{Generation:int}/region/{Region}"
@using Kamigo.Data.Models.Pokedex.Gen1;
@using Microsoft.Extensions.Localization;
@using Kamigo.Data.Models;
@using Kamigo.Data.Models.Pokedex;
@inject IStringLocalizer<App> Localizer;
@inject PokedexProvider PokedexProvider;

<div class="container-fluid">
    <div class="row">
        @foreach (var pokedexEntry in PokedexEntries)
        {
            <PokedexEntryCard PokedexEntry="@pokedexEntry" Generation="@Generation" />
        }
    </div>
</div>

@code{

    [Parameter]
    public string PlayerId { get; set; }
    [Parameter]
    public int Generation { get; set; }
    [Parameter]
    public string Region { get; set; }

    private PokemonGame CurrentPokemonGame { get; set; }
    private List<PokedexEntry> PokedexEntries { get; set; } = new List<PokedexEntry>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        CurrentPokemonGame = PokemonGamesList.Games.First(g => g.Generation == Generation && g.Region.ToString() == Region);
        var pokedex = await PokedexProvider.GetPokedexAsync(Generation, Region);
        PokedexEntries = pokedex.Entries;
    }
}
